html {
    background: #21273a;
}

/* 
-linkar barra de nvageção
-colocar hover 
-linkar footer 
-validar formulario 
*/




/* ----------------container onde esta formulario----------------------- */
.containerForm {
    
    background: rgb(241, 241, 241);
    background-image: linear-gradient(to bottom, #f82b9c50, #de2fb554, #b93dcc54, #844cde50, #1257eb55);
    max-width: 70%;
    min-width: 70%;
    margin: 0 auto;
    height: 1000px;
    display: flex;
    justify-content: space-around;
}


/* ----------------------INICIO FORMULARIO --------------- */
.avatarConta{
    width: 40%;
    margin-left: 30%

}

fieldset {
    padding: 30px;
    border: solid 5px #e6178b;
    background: rgba(255, 255, 255, 0);
    border-radius: 15px;
    height: 800px;
}

.inputUser, input{
    width: 100%;
    background: none;
    border: none;
    border-bottom: solid 2.5px;
}

.inputBox {
    height: 35px;
    
}

#boxCadastro{
    
    background-color: rgba(255, 255, 255, 0.842);
    width: 510px;
    height: 800px;
    margin: 0 auto;
    border-radius: 15px;
    margin-top: 150px;
}

input{
    height: 20px;
}

#numero{
    width: 65px;
}

#cep {
    width: 65px;
    margin-top: 10px;
}

/* -------------FORM DE RECUPERAR SENHA------------- */

.divRecuperaSenha{
    border: solid  5px #e6178b;
    padding: 30px;
    background-color: white;
    border-radius: 15px;
    width: 80%;
    margin: 150px auto;
    height: 600px;
}
 h2, label, p{
     color: black;
 }
 h2{
     margin-bottom: 50px;
     margin-left: 15%;
 }
 .textRecuperaSenha{
     margin-top: 30px;
 }
 .enviarRecuperacao{
     margin-top: 35px;
 }

 #avatarCoruja{
    height: 115px;
 }

 input{
     padding: 15px 0;
 }

/*------------------ BOTAO DE ENVIAR FORMULARIO ------------------ */

button {
    width: 110px;
    height: 31px;
    margin-top: 10%;
    background-color: #e6178b;
    border: none;
    border-radius: 5px;
}

::placeholder{
        color: black;
        font-size: 17px;
}

/* -------------- FORMULARIO EM COLUNA PARA RESPONSIVIDADE-----------------*/




