*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body{
    width: 100%;
    margin: 0;                                           
    padding: 0;
    color: white;
    height: 100%;
}

header{
    z-index: 6;
    position: fixed;
    width: 100%;
}
#navBar{
    width: 100%;
    background-color: #0d2952;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
}

.navbar-brand{
    font-style: italic;
    font-size: 2.0rem;
    margin: 1.1rem; 
}

#logo{
   color: #e6178b;
   font-weight: bold;
}

.navMenuDiv ul{
    margin: 0;
    padding: 0;
    display: flex;
    text-decoration: none;
}

.navMenuDiv li{
    height: 100%;
    width: 100%;
    font-size: 1.0rem;
    list-style: none;
    margin: 0 2rem 0 3rem;
    text-decoration: none;
    padding: 1rem;
    display: block;
    color: white;

}

.navMenuDiv li a:hover{
    background-color: #193863b6;
}

.navMenuDiv a{
    text-decoration: none;
    color: white;
    font-size: 26px;
    font-weight: bold;
}

.listaLogin{
    display: none;
    text-align: center;
}

.lineMenuDiv {
    
    display: none;
    position: absolute;
    top: 0.6rem;
    right: 1rem;
}

.lineMenu{
    width: 2.0rem;
    height: 9px;
    background-color: white;
    border-bottom: 6px solid #081f40;
    
}

.formLogin{
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 0;
    padding: 0;
}

.formLogin input{
    width: 9.5rem;
    height: 18px;
    font-size: 12px;
}

#forgotPassword{
    line-height: 2rem;
    margin: 0 70px 0 0
}









main{
    width: 100%;
    height: 100vh;
}

.video{
    height: 400px;
    width: 100vh;
}


.video video {
    top: 0;
    margin: 0;
    padding: 0;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
}

.videoParagraph{
    position: absolute;
    padding: 0;
    font-size: 26px;
    bottom: 0;
    margin-left: 37%;
    z-index: 1;
    color: white;
    text-align: center;
}


#startNow{
    text-transform: uppercase;
    padding: 0;
    margin-bottom: 1em;
    background-color: #e6178b;
}




.descricao{
    font-size: 18px;
    color: #e6178b;
    font-weight: bold;
    position: absolute;
    top: 25%;
    height: 50%;
    z-index: 5;
    width: 70%;
    text-align: left;
    padding: 3em;
    
    
}

.descricao P{
    width: fit-content;
    background-color: white;
}


.descricao a{
    text-decoration: none;
    cursor: pointer;
    color: #e6178b;;
}









.about{
    width: 100%;
    background-image: url(../img/background\ card.jpg); 
    background-size: cover;
    color: black;
}


.sobreContainer {
    display: flex;
    flex-direction: column;
    background-color: #EAEAEA;
    width: 100%;
    margin:auto;
}

.logoTorneSe {
    display: flex;
    justify-content: space-around;
    border: rgb(177, 83, 99) solid 2px;
    margin: 45px auto;
    width: 50%;
}

.torneSe h2 {
    font-size: 25px;
    margin: auto;
    color: rgb(130, 43, 112);
}

.torneSe {
    margin: 30px auto;
    text-align: center;
}

.torneSe p {
    font-weight: bolder;
    color: rgb(130, 43, 112);
}

.torneSeMiniDiv {
    margin: 10px;
}

.caracteristicasContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caracteristicasTexto {
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
    height: fit-content;
}

.caracteristicasImagens {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoDev h1 {
    color: #E6178B;
    font-size: 40px;
    font-style: italic;
}

.caracteristicasTexto h3 {
    color: #E6178B;
    font-size: 20px;
}

.caracteristicasTexto p {
    font-weight: bolder;
}

.caracteristicasMiniDiv {
    margin: 20px;
}

.disponivelNasPlataformas {
    width: 150px;
}

hr {
    border: none;
    background-color: black;
    height: 2px;
}

.conhecaNossosPlanos{
    margin: 0 0% 5% -30%;
    width: 100vh;
}

#conhecaNossosPlanos{
    font-size: 30px;
    color: rgb(142, 64, 77);
    font-weight: bolder;
}

#barrinhaHide{
    display: none;
}









.cardPromocional{
    width: 100%;
    height: fit-content;
    background-image: linear-gradient(to purple, blue , pink);
}
.card1:hover {
    background:#00ffb6;
    border: 1px solid #00ffb6;
  }

  .card1:hover .list-group-item{
    background:#00ffb6 !important
  }

  .card2:hover {
    background:#00C9FF;
    border:1px solid #00C9FF;
  }

  .card2:hover .list-group-item{
    background:#00C9FF !important
  }


  .card3:hover {
    background:#ff95e9;
    border:1px solid #ff95e9;
  }

  .card3:hover .list-group-item{
    background:#ff95e9 !important
  }


  .card:hover .btn-outline-dark{
    color:white;
    background:#212529;
  }

@media (max-width: 900px) {
    #navBar{
        width: 100%;
        height: fit-content;
        flex-direction: column;
        align-items: flex-start;
    }

    #logo{
        font-size: 28px;
    }

    .navMenuDiv{
        margin: 0;
        padding: 0;
        width: 100%;
        height:fit-content;
    }

    .navMenuDiv ul{
        display: none;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
    }



    .navMenuDiv li{
        width: 100%;
        margin: 6% 0 8% 0;
        padding: 0 35px 0 15px;
    }

    .navMenuDiv li:hover{
        cursor: pointer;
        background-color: #3766a9bd;
 
    }

    .navMenuDiv a{
        FONT-WEIGHT: 200;
        font-size: 14px;
        margin: auto;
    }

    .listaLogin{
        margin-left: 25%;
        display: inline-block;
    }

    .formLogin{
        display: none;
    }

    #forgotPassword{
        display: none;
    }

    
    .lineMenuDiv{
        display: flex;
        flex-direction: column;
        margin-top: 1;
    }

.lineMenuDiv {}
    
    .video{
        height: 100vm;
        width: 100%;
    }
    
    .videoParagraph{
     width: 100%;
     text-align: center;
     font-size: 24px;
     z-index: 1;
     color: white;
     margin: 0 0 20% 0
 }


 .descricao{
     height: 50%;
     width: 70%;
     top: 20%;
     font-size: 10px;
     padding: 5px 5px 5px 10px;
     color: white;
 }

 .descricao p{
     font-weight: unset;
     line-height: 12px;
     background-color: unset;

 }

 .descricao a{
    color: white;
 }

    .logoTorneSe{
        width: 100%;
        border: none;
    }
    .caracteristicasMiniDiv{
     width: fit-content;
     display: block;
 }

 .caracteristicasTexto{
     width: fit-content;
 }

    .caracteristicasImagens{
        display: none;
}

    .conhecaNossosPlanos{
     width: fit-content;
     font-size: 15px;
     margin: 0;
  }

  
#barrinhaHide{
    display:flex;
}

#barrinhaHide:last-child{
    margin: 0

}
    
}
