*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body{
    width: 100%;
    margin: 0;                                           
    padding: 0;
    color: white;
    height: 100%;
}

header{
    z-index: 6;
    position: fixed;
    width: 100%;
}
#navBar{
    width: 100%;
    background-color: #0d2952;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 120px;
}

.navbar-brand{
    font-style: italic;
    font-size: 2.2rem;
    margin: 1.1rem; 
}

#logo{
   color: #e6178b;
   font-weight: bold;
}


.navMenuDiv ul li a{
    /* font-size: 1.2rem; */
}

.navMenuDiv ul{
    margin: 0;
    padding: 0;
    display: flex;
    text-decoration: none;
}

.navMenuDiv li{
    height: 100%;
    width: 100%;
    font-size: 1.0rem;
    list-style: none;
    margin: 0 2rem 0 3rem;
    text-decoration: none;
    padding: 1rem;
    display: block;
    color: white;
}

.navMenuDiv li a{
    transition: 0.5s;
}

.navMenuDiv li a:hover{
    color:#e6178b;
}

.navMenuDiv a{
    text-decoration: none;
    color: white;
    font-size: 26px;
    font-weight: bold;
}

.listaLogin{
    display: none;
    text-align: center;
}

.lineMenuDiv {
    
    display: none;
    position: absolute;
    top: 0.6rem;
    right: 1rem;
}

.lineMenu{
    width: 2.0rem;
    height: 9px;
    background-color: white;
    border-bottom: 6px solid #081f40;
    
}

.formLogin{
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 0;
    padding: 0;
    align-items: center;
    margin-right: 30px;
    background: rgba( 255, 255, 255, 0.1);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur(10px);
    width: 180px;
    border-radius: 10px;
}

.formLogin #areaDoCliente{
    font-size: 16px;
    font-weight: bolder;
    margin: 0;
    color: #e6178b;
}

.formLogin label{
    font-size: 13px;
    font-weight: bolder;
}

.formLogin button{
    width: 80px;
    font-size: 10px;
    font-weight: bolder;
    border-radius: 5px;
    transition: 0.5s;
}

.formLogin button:hover{
    background: #E6178B;
    color:gold;
    box-shadow: 0 0 1em gold;
}

.formLogin input{
    width: 9.5rem;
    height: 18px;
    font-size: 12px;
}

#forgotPassword {
    font-size: 10px;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    color: white;
    transition: 0.7s;
}

#forgotPassword:hover {
    color: gold;
}







main{
    width: 100%;
    height: 100vh;
}

.video{
    height: 400px;
    width: 100vh;
}


.video video {
    top: 0;
    margin: 0;
    padding: 0;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
}

.videoParagraph{
    position: absolute;
    padding: 0;
    font-size: 26px;
    bottom: 0;
    margin-left: 37%;
    z-index: 1;
    color: white;
    text-align: center;
    margin-bottom: 2%;
}

.videoParagraph button{
    border: none;
    background: none;
}


#startNow{
    text-transform: uppercase;
    padding: 0;
    margin-bottom: 1em;
    background-color: #e6178b;
    text-decoration: none;
    color: white;
    transition: 0.7s;
}

#startNow:hover{
    color: gold;
    box-shadow: 0 0 1em gold;
}


.descricao{
    font-size: 18px;
    color: #e6178b;
    font-weight: bold;
    position: absolute;
    top: 25%;
    height: 50%;
    z-index: 5;
    width: 70%;
    text-align: left;
    padding: 3em;
    
    
}

.descricao P{
    width: fit-content;
    background-color: white;
}


.descricao a{
    text-decoration: none;
    cursor: pointer;
    color: #e6178b;;
}









.about{
    width: 100%;
    background-image: url(../img/background\ card.jpg); 
    background-size: cover;
    color: black;
}


.sobreContainer {
    display: flex;
    flex-direction: column;
    background-color: #EAEAEA;
    width: 100%;
    margin:auto;
}

.logoTorneSe {
    display: flex;
    justify-content: space-around;
    border: rgb(177, 83, 99) solid 2px;
    margin: 45px auto;
    width: 50%;
}

.torneSe h2 {
    font-size: 25px;
    margin: auto;
    color: rgb(130, 43, 112);
}

.torneSe {
    margin: 30px auto;
    text-align: center;
}

.torneSe p {
    font-weight: bolder;
    color: rgb(130, 43, 112);
}

.torneSeMiniDiv {
    margin: 10px;
}

.caracteristicasContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caracteristicasTexto {
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
    height: fit-content;
}

.caracteristicasImagens {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoDev h1 {
    color: #E6178B;
    font-size: 40px;
    font-style: italic;
}

.caracteristicasTexto h3 {
    color: #E6178B;
    font-size: 20px;
}

.caracteristicasTexto p {
    font-weight: bolder;
}

.caracteristicasMiniDiv {
    margin: 20px;
}

.disponivelNasPlataformas {
    width: 150px;
}

hr {
    border: none;
    background-color: black;
    height: 2px;
}

.conhecaNossosPlanos{
    margin: 0 0% 5% -30%;
    width: 100vh;
}

#conhecaNossosPlanos{
    font-size: 30px;
    color: rgb(142, 64, 77);
    font-weight: bolder;
}

#barrinhaHide{
    display: none;
}









.cardPromocional{
    width: 100%;
    height: fit-content;
    background-image: linear-gradient(to purple, blue , pink);
}
.card1:hover {
    background:#00ffb6;
    border: 1px solid #00ffb6;
  }

  .card1:hover .list-group-item{
    background:#00ffb6 !important
  }

  .card2:hover {
    background:#00C9FF;
    border:1px solid #00C9FF;
  }

  .card2:hover .list-group-item{
    background:#00C9FF !important
  }


  .card3:hover {
    background:#ff95e9;
    border:1px solid #ff95e9;
  }

  .card3:hover .list-group-item{
    background:#ff95e9 !important
  }


  .card:hover .btn-outline-dark{
    color:white;
    background:#212529;
  }

@media (max-width: 1000px) {
    #navBar{
        width: 100%;
        height: fit-content;
        flex-direction: column;
        align-items: flex-start;
    }

    #logo{
        font-size: 28px;
    }

    .navMenuDiv{
        margin: 0;
        padding: 0;
        width: 100%;
        height:fit-content;
    }

    .navMenuDiv ul{
        display: none;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
    }



    .navMenuDiv li{
        width: 100%;
        margin: 6% 0 8% 0;
        padding: 0 35px 0 15px;
    }

    .navMenuDiv li:hover{
        cursor: pointer;
        background-color: #3766a9bd;
 
    }

    .navMenuDiv ul li a{
        font-size: 10px;
        margin: auto;
    }

    .listaLogin{
        margin-left: 25%;
        display: inline-block;
    }

    .formLogin{
        display: none;
    }

    #forgotPassword{
        display: none;
    }

    
    .lineMenuDiv{
        display: flex;
        flex-direction: column;
        margin-top: 1;
    }

    
    .video{
        height: 100vm;
        width: 100%;
    }
    
    .videoParagraph{
     width: 100%;
     text-align: center;
     font-size: 24px;
     z-index: 1;
     color: white;
     margin: 0 0 20% 0
 }


    .descricao{
     height: 50%;
     width: 70%;
     top: 20%;
     font-size: 10px;
     padding: 5px 5px 5px 10px;
     color: white;
 }

 .descricao p{
     font-weight: unset;
     line-height: 12px;
     background-color: unset;

 }

 .descricao a{
    color: white;
 }

    .logoTorneSe{
        width: 100%;
        border: none;
    }
    .caracteristicasMiniDiv{
     width: fit-content;
     display: block;
 }

 .caracteristicasTexto{
     width: fit-content;
 }

    .caracteristicasImagens{
        display: none;
}

    .conhecaNossosPlanos{
     width: fit-content;
     font-size: 15px;
     margin: 0;
  }

  
#barrinhaHide{
    display:flex;
}

#barrinhaHide:last-child{
    margin: 0

}
    



}
footer{
    position: relative;
    width: 100%;
    height: fit-content;
    padding: auto;
    background: #e6178b;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px 0 0 90px;
    width: fit-content;
}


footer .container .sec{
    margin-right:  30px;
}
footer .container .sec.aboutus{
    width: 40%;
}
footer .container .sec.aboutus h2{
    color: #fff;
    margin: 30px 50px 15px 0px
}
footer .container h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50;
}

.sci li{
    list-style: none;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 0 30px;
    text-decoration: none;
    
}
.sci li:hover{
    background: white;
    transition: 1.2s;
}
.links{
    position: relative;
    width: 25%;
}

.contact .info li span {
    font-size: 0.8rem;
}

.contact .info li span img{
    color: white;
    padding: 0 20px 0 0;
}

/* Corrigindo estilizacao do footer */

footer h2 {
    font-size: 1rem;
    margin: 25px 0 10px 28px;
    height: fit-content;
    width: fit-content;
}

footer p {
    font-size: 0.8rem
}

.sci {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px 0 20px 0;
    margin-left: 18em;
}

.links ul li{
    list-style: none;
    font-size: 0.8rem;
}
.links ul li a{
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 2px;
}
.links ul li a:hover{
    color:black;
    transition: 0.8s;
}
.contact{
    width: cacl(35% - 60px);
    margin-right: 0 !important;
}
.contact .info li{
    display: flex;
    margin-bottom: 16px;
}
.contact .info li spain:nth-child(1){
    color: white;
    font-size: 20px;
    margin-right: 10px;
}
.contact .info li a{
    color:white;
}
.contact .info li a:hover{
    color: black;
    transition: 0.7s;
}
.textoFinal{
    width: 100%;
    background: #081f40;
    padding: 8px 100px;
    text-align: center;
    color: white;
}


@media (max-width:1000px){
 
    footer .container{
        flex-direction: column;
        width: 100vh;

    }

    footer .container .sec.aboutus,.links,.contact{
        widht: 100%;
    }
    .textoFinal{
        padding: 8px 40px;
        text-align: center;
    }

    .sci {
        display: flex;
        justify-content: center;
        width: 100%;   
        flex-direction: row;
    }
}