*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    margin: 0;
    padding: 0;
    color: white;
    height: 100%;
}

header{
    z-index: 2;
    position: fixed;
    width: 100%;
}
#navBar{
    width: 100%;
    background-color: #0d2952;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
}

.navbar-brand{
    font-style: italic;
    font-size: 2.0rem;
    margin: 1.1rem; 
}

#logo{
   color: #e6178b;
   font-weight: bold;
}

.navMenuDiv ul{
    margin: 0;
    padding: 0;
    display: flex;
    text-decoration: none;
}

.navMenuDiv li{
    height: 100%;
    width: 100%;
    font-size: 1.0rem;
    list-style: none;
    margin: 0 2rem 0 3rem;
    text-decoration: none;
    padding: 1rem;
    display: block;
    color: white;

}

.navMenuDiv li a:hover{
    background-color: #193863b6;
}

.navMenuDiv a{
    text-decoration: none;
    color: white;
    font-size: 26px;
    font-weight: bold;
}

.listaLogin{
    display: none;
    text-align: center;
}

.lineMenuDiv {
    
    display: none;
    position: absolute;
    top: 0.6rem;
    right: 1rem;
}

.lineMenu{
    width: 2.0rem;
    height: 9px;
    background-color: white;
    border-bottom: 6px solid #081f40;
    
}

.formLogin{
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 0;
    padding: 0;
}

.formLogin input{
    width: 9.5rem;
    height: 18px;
    font-size: 12px;
}

#forgotPassword{
    line-height: 2rem;
    margin: 0 70px 0 0
}

main{
    width: 100%;
    height: 100vh;
}

.video{
    height: 400px;
    width: 100vh;
}


.video video {
    top: 0;
    margin: 0;
    padding: 0;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
}

.videoParagraph{
    position: absolute;
    padding: 0;
    font-size: 26px;
    bottom: 0;
    margin-left: 40%;
    z-index: 1;
    color: white;
    text-align: center;
}


#startNow{
    text-transform: uppercase;
    padding: 0;
    margin-bottom: 1em;
    background-color: #e6178b;
}

.cardPromocional{
    width: 100%;
    height: fit-content;
    background-image: linear-gradient(to purple, blue , pink);
}
.card1:hover {
    background:#00ffb6;
    border: 1px solid #00ffb6;
  }

  .card1:hover .list-group-item{
    background:#00ffb6 !important
  }

  .card2:hover {
    background:#00C9FF;
    border:1px solid #00C9FF;
  }

  .card2:hover .list-group-item{
    background:#00C9FF !important
  }


  .card3:hover {
    background:#ff95e9;
    border:1px solid #ff95e9;
  }

  .card3:hover .list-group-item{
    background:#ff95e9 !important
  }


  .card:hover .btn-outline-dark{
    color:white;
    background:#212529;
  }

@media (max-width: 900px) {
    #navBar{
        width: 100%;
        height: fit-content;
        flex-direction: column;
        align-items: flex-start;
    }

    #logo{
        font-size: 28px;
    }

    .navMenuDiv{
        margin: 0;
        padding: 0;
        width: 100%;
        height: max-content;
    }

    .navMenuDiv ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
    }

    .navMenuDiv li{
        width: 100%;
        margin: 6% 0 8% 0;
        padding: 0 35px 0 15px;
    }

    .navMenuDiv li:hover{
        cursor: pointer;
        background-color: #3766a9bd;
 
    }

    .navMenuDiv a{
        FONT-WEIGHT: 200;
        font-size: 14px;
        margin: auto;
    }

    .listaLogin{
        margin-left: 25%;
    }

    .formLogin{
        display: none;
    }

    #forgotPassword{
        display: none;
    }

    
    .lineMenuDiv{
        display: flex;
        flex-direction: column;
    }
    
    .video{
        height: 100vm;
        width: 100%;
    }
    
    .videoParagraph{
     width: 100%;
     text-align: center;
     font-size: 24px;
     z-index: 1;
     color: white;
     margin: 0 0 20% 0
 }
    
}
