*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
}

header{
    z-index: 1;
    position: fixed;
    width: 100%;
}
#navBar{
    width: 100%;
    background-color: #0d2952;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
}

.navbar-brand{
    font-style: italic;
    font-size: 2.0rem;
    margin: 1.1rem; 
}

#logo{
   color: #e6178b;
   font-weight: bold;
}

.navMenuDiv ul{
    margin: 0;
    padding: 0;
    display: flex;
    text-decoration: none;
}

.navMenuDiv li{
    font-size: 1.0rem;
    list-style: none;
    margin: 0 2rem 0 3rem;
    text-decoration: none;
    padding: 1rem;
    display: block;
    color: white;

}

.navMenuDiv a{
    text-decoration: none;
    color: white;
    font-size: 26px;
    font-weight: bold;
}

.lineMenuDiv {
    
    display: none;
    position: absolute;
    top: 0.6rem;
    right: 1rem;
}

.lineMenu{
    width: 2.0rem;
    height: 9px;
    background-color: white;
    border-bottom: 6px solid #081f40;
    
}

.formLogin{
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 0;
    padding: 0;
}

.formLogin input{
    width: 9.5rem;
    height: 18px;
    font-size: 12px;
}

#forgotPassword{
    line-height: 2rem;
    margin: 0 70px 0 0
}

.video{
    height: 100%;
    width: 100%;
}

#videoDiv{
    margin: 0;
    padding: 0;
    width: 100%;
}

.video video {
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    object-fit: cover;
}

.videoParagraph{
    position: fixed;
    padding: 0;
    font-size: 26px;
    bottom: 0;
    margin-left: 40%;
    z-index: 1;
    color: white;
    text-align: center;
}

#startNow{
    text-transform: uppercase;
    padding: 0;
    margin-bottom: 1em;
    background-color: #e6178b;
}

@media (max-width: 900px) {
    #navBar{
        width: 100%;
        height: fit-content;
        flex-direction: column;
        align-items: flex-start;
    }

    #logo{
        font-size: 28px;
    }

    .navMenuDiv{
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .navMenuDiv ul{
        display: none;
        text-align: center;
        flex-direction: column;
        margin: 20px 5px 0 0;
        padding: 0;
        width: 100%;
    }

    .navMenuDiv li{
        width: 100%;
        margin: 0 0 8% 0;
        padding: 0 35px 0 15px;
    }

    .navMenuDiv a{
        font-size: 14px;
        margin: auto;
    }

    .formLogin{
        display: none;
    }

    #forgotPassword{
        display: none;
    }

    
    .lineMenuDiv{
        display: flex;
        flex-direction: column;
    }
    
    #videoDiv{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    .videoParagraph{
     width: 100%;
     text-align: center;
     font-size: 24px;
     z-index: 1;
     color: white;
     margin: 0 0 20% 0
 }
    
}